root = true

[*.php]
indent_style = tab
indent_size = 4

[*.{neon,neon.dist}]
indent_style = tab
indent_size = 4

[*.{json,json.dist}]
indent_style = space
indent_size = 4

[*.yml]
indent_style = space
indent_size = 2
